h1, h3, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #b6c2d9;
}

a[href] {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Kelvin Zamor, IT 202 Section 006, Phase 4 Assignment: PHP Authentication and Delete SQL Data, 4/5/24 */